<h3>Create New</h3>

<form id="NewPost">
  <p>
    {{input value=newPost.title placeholder="Here goes title.."}}
    {{input value=newPost.author placeholder="by ..."}}
  </p>
  <p>
    {{textarea value=newPost.text placeholder="... here goes your post ..." rows="10" cols="80"}}
  </p>
  <p>
    <button class="btn btn-primary btn-lg" {{action "createPost" newPost}}>Save</button>
    <button class="scroll-top btn btn-info" {{action "scrollToTop"}}>To top</button>
  </p>
</form>
